{
  "plugins": [
    "stylelint-no-unsupported-browser-features"
  ],
  "rules": {
    "no-empty-source": null,
    "no-missing-end-of-source-newline": null,
    "declaration-empty-line-before": null,
    "plugin/no-unsupported-browser-features": [true, {
      "severity": "warning"
    }],
    "value-keyword-case": null
  },
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier"
  ],
  "syntax": "css-in-js"
}
